<% k_verileri.map(x => {%>
<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Checks the availability of your website in one minute intervals from 30 different locations on 6 continents. Limit to add 2 bots for free! You can open additional features by purchasing a paid account. For detailed information, visit our Discord address. https://discord.gg/65exWz2dQ6"/>
    <meta name="keywords" content="uptime bot,uptime bot altyapı,uptime robot,uptime bot altyapısı,uptime robot discord bot,uptime sitesi,uptime bot nasıl yapılır,uptime funk,uptime altyapısı,uptime app,uptime center,glitch uptime yapma,discord bot uptime yapma,7/24 uptime,nightbot uptime command 2020,uptime 7/24,uptime,Hermosa Payments,discord uptime,free uptime,Uptime siteleri,Free website monitoring">
    <meta name="author" content="ByCan">
    <title>Hermosa Payments | Dashboard</title>
    <link rel="apple-touch-icon" href="/items/explore/assets/images/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/items/explore/assets/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/extensions/swiper.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/plugins/extensions/ext-component-swiper.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/assets/css/style.css">
    <script src="//code.tidio.co/udv0wwb2txodx61eicyjbkpox9qgq0mc.js" async></script>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">

    <!-- BEGIN: Header-->
<nav
  class="
    header-navbar
    navbar-expand-lg navbar navbar-fixed
    align-items-center
    navbar-shadow navbar-brand-center
  "
  data-nav="brand-center"
>
  <div class="navbar-header d-xl-block d-none">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/"
          ><span class="brand-logo"> </span>
          <h2 class="brand-text mb-0">Hermosa Payments</h2>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav align-items-center ms-auto">
      <li class="nav-item dropdown dropdown-language">
        <a
          class="nav-link dropdown-toggle"
          id="dropdown-flag"
          href="#"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="flag-icon flag-icon-tr"></i
          ><span class="selected-language">Turkish</span></a
        >
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdown-flag"
        >
          <a class="dropdown-item" href="#tr" data-language="en"
            ><i class="flag-icon flag-icon-tr"></i> Turkish</a
          >
          <a class="dropdown-item" href="#en" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a>
          <a class="dropdown-item" href="#ru" data-language="ru"><i class="flag-icon flag-icon-ru"></i> Russian</a>
          <a class="dropdown-item" href="#fr" data-language="fr"
            ><i class="flag-icon flag-icon-fr"></i> French</a
          ><a class="dropdown-item" href="#de" data-language="de"
            ><i class="flag-icon flag-icon-de"></i> German</a
          ><a class="dropdown-item" href="#pt" data-language="pt"
            ><i class="flag-icon flag-icon-pt"></i> Portuguese</a
          >
        </div>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link nav-link-style"
          ><i class="ficon" data-feather="sun"></i
        ></a>
      </li>
      <li class="nav-item dropdown dropdown-user">
        <a
          class="nav-link dropdown-toggle dropdown-user-link"
          id="dropdown-user"
          href="#"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="user-nav d-sm-flex d-none">
            <span class="user-name fw-bolder"><%= x.adi %> <%= x.soy_adi %></span>
            <span class="user-status"><%= x.plan_adi %></span>
          </div>
          <span class="avatar"
            ><img
              class="round"
              src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>"
              alt="avatar"
              height="40"
              width="40" /><span class="avatar-status-online"></span
          ></span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdown-user"
        >
          <a class="dropdown-item" href="/settings"><i class="me-50" data-feather="settings"></i> Ayarlar</a>
          <a class="dropdown-item" href="/faqs"><i class="me-50" data-feather="help-circle"></i> SSS</a>
          <a class="dropdown-item" href="/para-cek"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg> Para Çek</a>
          <a class="dropdown-item" href="/odeme-taleplerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trello"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><rect x="7" y="7" width="3" height="9"></rect><rect x="14" y="7" width="3" height="5"></rect></svg> Ö. Taleplerim</a>
          <a class="dropdown-item" href="/para-yuklemelerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crop"><path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path><path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path></svg></i> Yüklemeler</a>
          <a class="dropdown-item" href="/pre-uyelikler"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg> Pre Üyeler</a>
          <a class="dropdown-item" href="/uyeliklerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg> Üyeliklerim</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="me-50" data-feather="power"></i> Çıkış</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>

    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="horizontal-menu-wrapper">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-dark navbar-shadow menu-border container-xxl" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item me-auto"><a class="navbar-brand" href="/"><span class="brand-logo">
                                </span>
                            <h2 class="brand-text mb-0">Hermosa Payments</h2>
                        </a></li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i></a></li>
                </ul>
            </div>
            <div class="shadow-bottom"></div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <!-- include /dashboard/includes/mixins-->
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="active"><a class="nav-link d-flex align-items-center" href="/dashboard"><i data-feather="home"></i><span data-i18n="Dashboards">Dashboard</span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/plan-create"><i data-feather="star"></i><span data-i18n="Plan Oluştur">Plan Oluştur</span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/subscribe-pre"><i data-feather="award"></i><span data-i19n="Sevdiğin Sunucuyu Destekle">Sevdiğin Sunucuyu Destekle</span></span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/bakiye"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg><span data-i18n="Bakiye Yükle">Bakiye Yükle</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
<div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Hoş Geldin Kısmı -->
                <div class="col-12 col-md-12 col-lg-12">
                        <div class="card card-congratulations">
                            <div class="card-body text-center">
                                <img src="/dashboard/app-assets/images/elements/decore-left.png" class="congratulations-img-left" alt="card-img-left">
                                <img src="/dashboard/app-assets/images/elements/decore-right.png" class="congratulations-img-right" alt="card-img-right">
                                <div class="avatar avatar-xl bg-primary shadow">
                                    <div class="avatar-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award font-large-1"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h1 class="mb-1 text-white">Welcome to Hermosa Payments</h1>
                                    <!--
                                        <p class="card-text m-auto w-75">
                                        xxxx
                                    </p>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- users list start -->
                <section class="app-user-list">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h3 class="fw-bolder mb-75"><%= x.giris_sayisi %></h3>
                                        <span>Toplam Oturum Açma</span>
                                    </div>
                                    <div class="avatar bg-light-primary p-50">
                                        <span class="avatar-content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-medium-4"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h3 class="fw-bolder mb-75"><%= x.referans_toplam %></h3>
                                        <span>Referansların</span>
                                    </div>
                                    <div class="avatar bg-light-secondary p-50">
                                        <span class="avatar-content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>    
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h3 class="fw-bolder mb-75"><%= x.bakiye %></h3>
                                        <span>Bakiyen</span>
                                    </div>
                                    <div class="avatar bg-light-success p-50">
                                        <span class="avatar-content">
                                            <img src="https://img.icons8.com/ios-glyphs/26/000000/money--v1.png"/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <div>
                                        <h3 class="fw-bolder mb-75"><%= x.uyari_sayisi || 0 %></h3>
                                        <span>Uyarı Sayısı</span>
                                    </div>
                                    <div class="avatar bg-light-danger p-50">
                                        <span class="avatar-content">
                                            <img src="https://img.icons8.com/emoji/26/000000/warning-emoji.png"/>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- list and filter start -->
                    <div class="card">
                        <div class="card-body border-bottom">
                            <h4 class="card-title">Duyurular</h4>
                            <div class="row">
                                <div class="col-md-4 user_role"></div>
                                <div class="col-md-4 user_plan"></div>
                                <div class="col-md-4 user_status"></div>
                            </div>
                            <section id="component-swiper-lazy">
                    <div class="card">
                        <div class="card-body">
                            <div class="swiper-lazy-loading swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                                <div class="swiper-wrapper" id="swiper-wrapper-7dd0cb103c20eb852" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                    <div class="swiper-slide swiper-slide-active" style="width: 1321px;" role="group" aria-label="1 / 6">
                                        <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        <!-- Preloader image -->
                                        
                                    </div>
                                    <div class="swiper-slide swiper-slide-next" style="width: 1321px;" role="group" aria-label="2 / 6">
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        
                                    </div>
                                    <div class="swiper-slide" style="width: 1321px;" role="group" aria-label="3 / 6">
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        
                                    </div>
                                    <div class="swiper-slide" style="width: 1321px;" role="group" aria-label="4 / 6">
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        
                                    </div>
                                    <div class="swiper-slide" style="width: 1321px;" role="group" aria-label="5 / 6">
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        
                                    </div>
                                    <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 1321px;">
                                        <img src="https://i.hizliresim.com/qamnbg3.png" class="swiper-lazy img-fluid swiper-lazy-loaded" alt="banner">
                                        
                                    </div>
                                </div>

                                <!-- Add Pagination -->
                                <div class="swiper-pagination swiper-pagination-white swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span></div>
                                <!-- Navigation -->
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-7dd0cb103c20eb852" aria-disabled="false"></div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-7dd0cb103c20eb852" aria-disabled="true"></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                    </div>
                </section>
                        </div>
                    </div>
                    <!-- list and filter end -->
                </section>
                <!-- users list ends -->

            </div>
        </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->
     <script src="/dashboard/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script>
     var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('thxx') && urlParams.get('thxx')){
      Swal.fire({
        title: `<p style="color: black;">Hermosa Payments</p>`,
        text: "Your Plan is Upgraded!",
        icon: 'success',
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Okay',
        footer: 'Hermosa Payments All Rights Reserved.'
        });
        
    }

    if(urlParams.has('yerersizbakiye') && urlParams.get('yerersizbakiye')){
      Swal.fire({
        title: `<p style="color: black;">Hermosa Payments</p>`,
        text: "Insufficient Balance!",
        icon: 'error',
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Okay',
        footer: 'Hermosa Payments All Rights Reserved.'
        });
        
    }

    if(urlParams.has('gecersizonaykodu') && urlParams.get('gecersizonaykodu')){
      Swal.fire({
        title: `<p style="color: black;">Hermosa Payments</p>`,
        text: "Your Confirmation Code is Invalid!",
        icon: 'error',
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Okay',
        footer: 'Hermosa Payments All Rights Reserved.'
        });
        
    }
   </script>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light footer-shadow">
        <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25"><a href="//www.dmca.com/Protection/Status.aspx?ID=e7af6636-3ee3-4657-b62c-dd7197ba73c0" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=e7af6636-3ee3-4657-b62c-dd7197ba73c0"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>© 2021<a class="ms-25" href="https://hermosa-pay.xyz" target="_blank">Hermosa Payments</a><span class="d-none d-sm-inline-block">, All Rights Reserved.</span></span><span class="float-md-end d-none d-md-block">PowerBy FastUptime<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="/dashboard/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/dashboard/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="/dashboard/app-assets/vendors/js/extensions/swiper.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/dashboard/app-assets/js/core/app-menu.js"></script>
    <script src="/dashboard/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/dashboard/app-assets/js/scripts/extensions/ext-component-swiper.js"></script>
    <!-- END: Page JS-->
    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>
<% });%>