<% k_verileri.map(x => {%>
<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Checks the availability of your website in one minute intervals from 30 different locations on 6 continents. Limit to add 2 bots for free! You can open additional features by purchasing a paid account. For detailed information, visit our Discord address. https://discord.gg/65exWz2dQ6"/>
    <meta name="keywords" content="uptime bot,uptime bot altyapı,uptime robot,uptime bot altyapısı,uptime robot discord bot,uptime sitesi,uptime bot nasıl yapılır,uptime funk,uptime altyapısı,uptime app,uptime center,glitch uptime yapma,discord bot uptime yapma,7/24 uptime,nightbot uptime command 2020,uptime 7/24,uptime,Hermosa Payments,discord uptime,free uptime,Uptime siteleri,Free website monitoring">
    <meta name="author" content="ByCan">
    <title>Hermosa Payments | Dashboard</title>
    <link rel="apple-touch-icon" href="/items/explore/assets/images/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/items/explore/assets/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/extensions/swiper.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/plugins/extensions/ext-component-swiper.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/assets/css/style.css">

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">

    <!-- BEGIN: Header-->
<nav
  class="
    header-navbar
    navbar-expand-lg navbar navbar-fixed
    align-items-center
    navbar-shadow navbar-brand-center
  "
  data-nav="brand-center"
>
  <div class="navbar-header d-xl-block d-none">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/"
          ><span class="brand-logo"> </span>
          <h2 class="brand-text mb-0">Hermosa Payments</h2>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu ficon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav align-items-center ms-auto">
      <li class="nav-item dropdown dropdown-language">
        <a
          class="nav-link dropdown-toggle"
          id="dropdown-flag"
          href="#"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="flag-icon flag-icon-tr"></i
          ><span class="selected-language">Turkish</span></a
        >
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdown-flag"
        >
          <a class="dropdown-item" href="#tr" data-language="en"
            ><i class="flag-icon flag-icon-tr"></i> Turkish</a
          >
          <a class="dropdown-item" href="#en" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a>
          <a class="dropdown-item" href="#ru" data-language="ru"><i class="flag-icon flag-icon-ru"></i> Russian</a>
          <a class="dropdown-item" href="#fr" data-language="fr"
            ><i class="flag-icon flag-icon-fr"></i> French</a
          ><a class="dropdown-item" href="#de" data-language="de"
            ><i class="flag-icon flag-icon-de"></i> German</a
          ><a class="dropdown-item" href="#pt" data-language="pt"
            ><i class="flag-icon flag-icon-pt"></i> Portuguese</a
          >
        </div>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link nav-link-style"
          ><i class="ficon" data-feather="sun"></i
        ></a>
      </li>
      <li class="nav-item dropdown dropdown-user">
        <a
          class="nav-link dropdown-toggle dropdown-user-link"
          id="dropdown-user"
          href="#"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="user-nav d-sm-flex d-none">
            <span class="user-name fw-bolder"><%= x.adi %> <%= x.soy_adi %></span
            ><span class="user-status"><%= x.plan_adi %></span>
          </div>
          <span class="avatar"
            ><img
              class="round"
              src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>"
              alt="avatar"
              height="40"
              width="40" /><span class="avatar-status-online"></span
          ></span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdown-user"
        >
          <a class="dropdown-item" href="/settings"><i class="me-50" data-feather="settings"></i> Ayarlar</a>
          <a class="dropdown-item" href="/faqs"><i class="me-50" data-feather="help-circle"></i> SSS</a>
          <a class="dropdown-item" href="/para-cek"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg> Para Çek</a>
          <a class="dropdown-item" href="/odeme-taleplerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trello"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><rect x="7" y="7" width="3" height="9"></rect><rect x="14" y="7" width="3" height="5"></rect></svg> Ö. Taleplerim</a>
          <a class="dropdown-item" href="/para-yuklemelerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crop"><path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path><path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path></svg></i> Yüklemeler</a>
          <a class="dropdown-item" href="/pre-uyelikler"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg> Pre Üyeler</a>
          <a class="dropdown-item" href="/uyeliklerim"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg> Üyeliklerim</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="me-50" data-feather="power"></i> Çıkış</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>

    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="horizontal-menu-wrapper">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-dark navbar-shadow menu-border container-xxl" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item me-auto"><a class="navbar-brand" href="/"><span class="brand-logo">
                                </span>
                            <h2 class="brand-text mb-0">Hermosa Payments</h2>
                        </a></li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i></a></li>
                </ul>
            </div>
            <div class="shadow-bottom"></div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <!-- include /dashboard/includes/mixins-->
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center" href="/dashboard"><i data-feather="home"></i><span data-i18n="Dashboards">Dashboard</span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/plan-create"><i data-feather="star"></i><span data-i18n="Plan Oluştur">Plan Oluştur</span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/subscribe-pre"><i data-feather="award"></i><span data-i19n="Sevdiğin Sunucuyu Destekle">Sevdiğin Sunucuyu Destekle</span></span></a>
                    </li>
                    <li class="dropdown nav-item"><a class="nav-link d-flex align-items-center show" href="/bakiye"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg><span data-i18n="Bakiye Yükle">Bakiye Yükle</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- END: Main Menu-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Para Çek</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">Para Çek
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <section class="counter-textarea">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Para Çek</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text mb-2">Para Çekme Talebi Göndermeden Önce Aşağıdaki Şartları Ve Bilgilendirmeyi Okuyunuz!</p>
                                    <td>
                                      <li>Para Hesabınıza Pazartesi Günü Aktarılır!</li>
                                      <li>Para Çekmek İçin Hesabınızda En Az 50 Bakiye Olmalıdır!</li>
                                      <li>Para Çekme Talebiniz Team Hermosa Tarafından İncelenir!</li>
                                      <li>Ödemeler Şu anda Sadece İninal Kart'a Yapılabiliyor!</li>
                                      <li>Para Hesabınıza Yatırılmadan Önce Sunucunuz Kontrol Edilir Kurallara Aykırı Bir Durum Varmı Diye!</li>
                                      <li>Sunucunuzda Kurallara Aykırı Bir Durum Tespit Edilir İse Hesabınız Kapatılır Ve Ödemeniz Yapılır!</li>
                                      <li>Alt Kısımda Girdiğiniz Tüm Bilgiler Doğru Olmalıdır!</li>
                                      <li>Birden Daha Fazla Kez Talep Oluşturmayınız</li>
                                      <li>Ödeme Talebi Oluşturduktan Sonra Kesinlikle Botun Destek Sunucusu Üzerinden Soru Sormak Yasaktır!</li>
                                    </td><br>
                                    <form action="/para-cek" method="post">
                                      <div class="row">
                                        <div class="mb-1 col-md-6">
                                            <label for="name" class="form-label">Adınız</label>
                                            <input type="text" id="companyName" name="adi" class="form-control" placeholder="Ahmet" required="">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label for="name" class="form-label">Soy Adınız</label>
                                            <input type="text" id="companyName" name="soy_adii" class="form-control" placeholder="Kaya" required="">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label for="name" class="form-label">Telefon Numaranız</label>
                                            <input type="number" id="companyName" name="tel_no" class="form-control" placeholder="5253218725" required="">
                                        </div>
                                        <div class="mb-1 col-md-6">
                                            <label for="name" class="form-label">İninal Numarası</label>
                                            <input type="text" id="companyName" name="ininal_numarası" class="form-control" placeholder="İninal Barkod" required="">
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-0">
                                                <textarea data-length="350" name="eknot" class="form-control char-textarea active" id="textarea-counter" rows="3" placeholder="Counter" style="height: 100px; color: rgb(78, 81, 84);"></textarea>
                                                <label for="textarea-counter">Eklemek İstediğiniz Ek Not</label>
                                            </div>
                                            <small class="textarea-counter-value float-end" style="background-color: rgb(115, 103, 240);"><span class="char-count">0</span> / 350 </small>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary waves-effect waves-float waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg> Talebi Gönder</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
    <!-- BEGIN: Content-->
  
  <script src="/dashboard/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
   <script>
     var urlParams = new URLSearchParams(window.location.search);
      if(urlParams.has('success') && urlParams.get('success')){
      Swal.fire({
        title: 'Hermosa Payments | Talep Oluşturuldu',
        icon: 'success',
        html: 'Talebiniz Oluşturuldu! Kontrollerden Sonra Hesabınıza Geçecektir!',
        showCloseButton: true,
        showCancelButton: false,
        focusConfirm: false,
        confirmButtonText:'Teşekkür Ederim <3'
      })
    }

    if(urlParams.has('error') && urlParams.get('error')){
      Swal.fire({
        title: 'Hermosa Payments | Hata',
        icon: 'error',
        html: 'Talep Oluşturulurken Bir Hata Oluştu!<br> Nedenler Aşağıdakilerin Bazıları Olabilir!<br><td><li>Bakiyeniz 50 TL nin Altında Olabilir</li> <li>İstenilen Bilgileri Eksik Girmiş Olabilirsiniz!</li> <li>Birden Fazla Kez Talep Oluşturmuş Olabilirsiniz!</li></td>',
        showCloseButton: true,
        showCancelButton: false,
        focusConfirm: false,
        confirmButtonText:'Teşekkür Ederim <3'
      })
    }
   </script>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div> <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light footer-shadow">
        <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25"><a href="//www.dmca.com/Protection/Status.aspx?ID=e7af6636-3ee3-4657-b62c-dd7197ba73c0" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=e7af6636-3ee3-4657-b62c-dd7197ba73c0"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>© 2021<a class="ms-25" href="https://hermosa-pay.xyz/" target="_blank">Hermosa Payments</a><span class="d-none d-sm-inline-block">, All Rights Reserved.</span></span><span class="float-md-end d-none d-md-block">PowerBy FastUptime <i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <script src="/dashboard/app-assets/vendors/js/vendors.min.js"></script>
    <script src="/dashboard/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="/dashboard/app-assets/js/core/app-menu.js"></script>
    <script src="/dashboard/app-assets/js/core/app.js"></script>
    <script src="/dashboard/app-assets/js/scripts/pages/page-pricing.js"></script>
    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>
<% });%>